.textright h1{
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
}

.phoneImage{
    width: 90vh;

}
.img1 img{
    width: 52px;
    height: 80px;
}
.boxshot-load{
    background: url(./load-icon.gif )50% no-repeat;
    width:80px;
    height:100px ;
    
  
    
}

/* ! responsiv problem 
    ?to fix : positons, size ,indexes 
*/
.animationBlock {
    width: 100vh;
    height: 100px;
    /* top: -105px; */
    /* left: 50px */
    z-index: 10;
    position: relative ;
    
    border-top: 60px ;
    border-bottom: 15px;
    bottom: 100px;
}

