.textright h1 {
    font-size: 45px;
    line-height: px;
    font-weight: bold;
}

.phoneImage {
    width: 90vh;

}

.img1 img {
    width: 52px;
    height: 80px;
}

.boxshot-load {
    background: url(./load-icon.gif )50% no-repeat;
    width: 80px;
    height: 100px;



}

/* ! responsiv problem 
    ?to fix : positons, size ,indexes 
*/
.animationBlock {
    width: 100vh;
    height: 100px;
    /* top: -105px; */
    /* left: 50px */
    z-index: 10;
    position: relative;

    border-top: 60px;
    border-bottom: 15px;
    bottom: 100px;
}

.img-box {
    background: url(./image.jpg ) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    
    /* width: 500px;*/
    height: 400px; 
}

.animation-block{
    width: 270px;
    height: 90px;
    background-color:black;
}


.animation-block img{
    width: 55px;
    height: 80px;
}
.text-block-animation h5{
    font-size: 17px;
    font-weight: bold;
    line-height: 15px;

}


.text-block-animation h6{
    line-height: 9px;
    
}