@media only screen and (min-width: 700px) {
    .Netflix-logo {
        fill: red;
        width: 200px;
        height: 60px;
        margin-left: 3vh;
        margin-top: 2vh;
    }
}

@media only screen and (max-width: 700px) {
    .Netflix-Logo-phone {
        width: 100px;
        height: 60px;
        fill: red !important;
        /* margin-left: 1vh; */
        margin-top: 1vh;
    }
}


.custom-lang-select {
    /* background: rgb(255, 255, 255); */
    height: 37px;
    color: #ffff;
    border-color: rgb(46, 46, 46);


}

.custom-lang-select option {
    color: #ffff;
    background-color: rgb(63, 63, 63);
}

.right-navbar button {
    background-color: red;
    border-radius: 5%;
    height: 35px;
}

header {
    background-image: url(./bg-main.jpg);
}

.main-header {
    height: 50vh;


}

/* ! need to change the classs name to avoid collision avry media q need to hav is own !!!
 */

.main-header-phone h1 {
    font-size: 35px;
    line-height: 35px;
    font-weight: bolde;
}

.main-header-phone h2 {
    font-size: 20px;
    line-height: 20px;
}

.main-header-phone h4 {
    font-size: 14px;
    line-height: 14px;
}


.main-header-phone button {
    background-color: red;
    width: 130px;
    height: 50px;
    border-radius: 2%;
    font-size: 16px;
    font-weight: 400;
}

@media only screen and (min-width: 500px) {

    
    .main-header-md h1 {
        font-size: 50px;
        line-height: 50px;
        font-weight: bolde;
    }

    .main-header-md h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .main-header-md h4 {
        font-size: 15px;
        line-height: 15px;
    }

    .main-header-md button {
        background-color: red;
        width: 200px;
        height: 60px;
        border-radius: 2%;
        font-size: 27px;
        font-weight: 400;
        
    }

    .main-header {
        height: 65vh;
    
    
    }
}

@media only screen and (min-width: 720px) {
    .main-header h1 {
        font-size: 70px;
        line-height: 70px;
        font-weight: bolde;
    }

    .main-header h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .main-header h4 {
        font-size: 20px;
        line-height: 15px;
    }


    .main-header button {
        background-color: red;
        width: 300px;
        height: 70px;
        border-radius: 2%;
        font-size: 27px;
        font-weight: 600;
    }
}

.main-header input {
    background-color: rgb(41, 39, 39) !important;
    border-color: black;
    color: #ffff !important;
}

.dark-alpha {
    background-color: rgba(0, 0, 0, 0.503);
}

.getStarted-block {}