.header-background {
    background-image: url(./crypto-currency-horizontal-banner-bitcoin-digital-web-money-technology_48369-13318.png);
    height: 300px;
    width: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.opacitity-black{
    background: rgba(0, 0, 0, 0.615);
    height: 300px;
    width: auto;

    h1{
        font-weight:400 ;
    }
}